{% extends 'master.html' %}

{% load static %}

{% block title %} Checkout  Page {% endblock %}

{% block content %}




<header>
   
    <h3>Checkout</h3>
</header>

<main>
    
    <section class="checkout-form">
        <div class="container-fluid">
        <form action="/checkout" method="post">
            {% csrf_token %}
            <h6>Contact information</h6>
            <div class="form-control">
                <label for="checkout-email">E-mail</label>
                <div>
                    <span class="fa fa-envelope"></span>
                    <input type="email" id="checkout-email" name="checkout_email" placeholder="Enter your email..." required>
                </div>
            </div>
            <div class="form-control">
                <label for="checkout-phone">Phone</label>
                <div>
                    <span class="fa fa-phone"></span>
                    <input type="tel" name="checkout_phone" id="checkout-phone" placeholder="Enter you phone..." required>
                </div>
            </div>
            <br>
            <h6>Shipping address</h6>
            <div class="form-control">
                <label for="checkout-name">Full name</label>
                <div>
                    <span class="fa fa-user-circle"></span>
                    <input type="text" id="checkout-name" name="checkout_name" placeholder="Enter you name..." required>
                </div>
            </div>
            <div class="form-control">
                <label for="checkout-address">Address</label>
                <div>
                    <span class="fa fa-home"></span>
                    <input type="text" name="checkout_address" id="checkout-address" placeholder="Your address..." required>
                </div>
            </div>
            <div class="form-control">
                <label for="checkout-city">City</label>
                <div>
                    <span class="fa fa-building"></span>
                    <input type="text" name="checkout_city" id="checkout-city" placeholder="Your city..." required>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label for="checkout-country">Country</label>
                    <div>
                        <span class="fa fa-globe"></span>
                        <input type="text" name="checkout_country" id="checkout-country" placeholder="Your country..." list="country-list" required>
                        <datalist id="country-list">
                            <option value="India"></option>
                            <option value="USA"></option>
                            <option value="Russia"></option>
                            <option value="Japan"></option>
                            <option value="Egypt"></option>
                        </datalist>
                    </div>
                </div>
                <div class="form-control">
                    <label for="checkout-postal">Postal code</label>
                    <div>
                        <span class="fa fa-archive"></span>
                        <input type="numeric" name="checkout_postal" id="checkout-postal" placeholder="Your postal code..." required>
        </div>
                </div>
                
            </div>


        <div class="row">
        <div class="col-12">
        <h6>Select Payment Method</h6>

        </div>
                

            <div class=" col-sm-12 col-lg-6">
                <div class="payment-option">
                    <input type="radio" id="cash-on-delivery" name="payment" value="cash-on-delivery" checked>
                    <label for="cash-on-delivery">
                        <img src="{% static 'cash-on-delivery.png' %}" alt="Cash on Delivery" />
                        Cash on Delivery
                    </label>
                </div>
            </div>
            <div class=" col-sm-12  col-lg-6">

                <div class="payment-option">
                    <input type="radio" id="online-payment" name="payment" value="online-payment">
                    <label for="online-payment">
                        <img src="{% static 'mobile-banking.png' %}" alt="Online Payment" />
                        Online Payment
                    </label>
                </div>
            </div>
        </div>

 
    <div class="form-control checkbox-control">
        <input type="checkbox" name="checkout-checkbox" id="checkout-checkbox">
        <label for="checkout-checkbox">Save this information for next time</label>
    </div>

    
            <a href="/confirmorder" class="forma">
                <div class="form-control-btn">
                    <button type="submit">Confirm Purchase</button>
                </div>
            </a>
        </form>
        

    </section>

           <!-- UPI Modal -->
<div id="upiModal">
    <div class="modal-content">
        <h6>Select UPI Transaction</h6>
        <button onclick="selectUPI('upi1@example.com')">UPI 1</button>
        <button onclick="selectUPI('upi2@example.com')">UPI 2</button>
        <button onclick="selectUPI('upi3@example.com')">UPI 3</button>
        <button onclick="closeUPIModal()">Cancel</button>
    </div>
</div>

    <section class="checkout-details">
        <div class="checkout-details-inner">
            {% for x in order %}
            <div class="checkout-lists">
                <div class="card">
                    <div class="card-image">
                        <img src="/media/{{x.order_image}}" alt="" height="200px">
                    </div>
                    <div class="card-details">
                        <div class="card_name">{{x.order_name}}</div>
                        <div class="card-price"><span>${{x.order_price}}</span></div>
                        <div class="card-price">
                            <span>Quantity: {{x.order_qty}}</span>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="checkout-shipping">
                <h6>Shipping : <span class="ships">{{shp}}</span></h6>
                <h6>GST : <span class="ships">{{gst}}</span> </h6>
                <h6> Total Amount : <span class="ships">{{tot}}</span> </h6>
                <h6>Total : <span class="ships">{{gtot}}</span> </h6>

            </div>
            {%  endfor %}
        </div>
        </div>
    </section>

</main>


<script>
  function openUPIModal() {
    document.getElementById("upiModal").style.display = "flex";
}

function closeUPIModal() {
    document.getElementById("upiModal").style.display = "none";
}

function selectUPI(upi) {
    alert("You selected: " + upi);
    closeUPIModal();
}


</script>





{% endblock %}